# Stroke Prediction

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("stroke.csv")

In [3]:
df.tail()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [4]:
df.drop(columns = "id")

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [5]:
len(df["bmi"])

5110

In [6]:
df["bmi"][2]

32.5

In [7]:
for i in range(5110):
    if(df["bmi"][i] == "NaN"):
        df["bmi"][i] = 0
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [8]:
df["bmi"] = df["bmi"].fillna(0)

In [9]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,0.0,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,0.0,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [10]:
s = 0
for i in range(5110):
    s += df["bmi"][i]
s

141836.90000000005

In [11]:
mean = int(s / len(df["bmi"]))

In [12]:
mean

27

In [13]:
for i in range(5110):
    if (df["bmi"][i] == 0):
        df["bmi"][i] = mean
df

<ipython-input-13-c3caebc26764>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["bmi"][i] = mean

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,27.0,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,27.0,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [14]:
df = df.drop(columns = "id")

In [15]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,27.0,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,27.0,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [16]:
len(df["ever_married"])

5110

In [17]:
c = 0
for i in range(5110):
    if df["ever_married"][i] == "No":
        df["ever_married"][i] = 0
    elif df["ever_married"][i] == "Yes":
        df["ever_married"][i] = 1

<ipython-input-17-c14ca73c9dfd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ever_married"][i] = 1
<ipython-input-17-c14ca73c9dfd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ever_married"][i] = 0

In [18]:
cy = 0
cn = 0
for i in range(5110):
    if(df["ever_married"][i]) == 1:
        cy += 1
    elif(df["ever_married"][i]) == 0:
        cn += 1
print(cy)
print(cn)

3353
1757

In [19]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,1,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,1,Self-employed,Rural,202.21,27.0,never smoked,1
2,Male,80.0,0,1,1,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,1,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,1,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,1,Private,Urban,83.75,27.0,never smoked,0
5106,Female,81.0,0,0,1,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,1,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,1,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,1,Govt_job,Urban,85.28,26.2,Unknown,0

In [20]:
for i in range(5110):
    if (df["Residence_type"][i]) == "Urban":
        df["Residence_type"][i] = 1
    elif (df["Residence_type"][i]) == "Rural":
        df["Residence_type"][i] = 0

<ipython-input-20-55db1e8fbd56>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Residence_type"][i] = 1
<ipython-input-20-55db1e8fbd56>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Residence_type"][i] = 0

In [21]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,1,Private,1,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,1,Self-employed,0,202.21,27.0,never smoked,1
2,Male,80.0,0,1,1,Private,0,105.92,32.5,never smoked,1
3,Female,49.0,0,0,1,Private,1,171.23,34.4,smokes,1
4,Female,79.0,1,0,1,Self-employed,0,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,1,Private,1,83.75,27.0,never smoked,0
5106,Female,81.0,0,0,1,Self-employed,1,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,1,Self-employed,0,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,1,Private,0,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,1,Govt_job,1,85.28,26.2,Unknown,0

In [22]:
for i in range(5110):
    if df["smoking_status"][i] == "never smoked":
        df["smoking_status"][i] = 0
    elif df["smoking_status"][i] == "formerly smoked":
        df["smoking_status"][i] = 1
    elif df["smoking_status"][i] == "smokes":
        df["smoking_status"][i] = 2

<ipython-input-22-463534cd878a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["smoking_status"][i] = 1
<ipython-input-22-463534cd878a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["smoking_status"][i] = 0
<ipython-input-22-463534cd878a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["smoking_status"][i] = 2

In [23]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,1,Private,1,228.69,36.6,1,1
1,Female,61.0,0,0,1,Self-employed,0,202.21,27.0,0,1
2,Male,80.0,0,1,1,Private,0,105.92,32.5,0,1
3,Female,49.0,0,0,1,Private,1,171.23,34.4,2,1
4,Female,79.0,1,0,1,Self-employed,0,174.12,24.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,1,Private,1,83.75,27.0,0,0
5106,Female,81.0,0,0,1,Self-employed,1,125.20,40.0,0,0
5107,Female,35.0,0,0,1,Self-employed,0,82.99,30.6,0,0
5108,Male,51.0,0,0,1,Private,0,166.29,25.6,1,0
5109,Female,44.0,0,0,1,Govt_job,1,85.28,26.2,Unknown,0

In [24]:
for i in range(5110):
    if df["work_type"][i] == "Private":
        df["work_type"][i] = 0
    elif df["work_type"][i] == "Self-employed":
        df["work_type"][i] = 1
    elif df["work_type"][i] == "Govt_job":
        df["work_type"][i] = 2
    elif df["work_type"][i] == "children":
        df["work_type"][i] = 3
    elif df["work_type"][i] == "Never_worked":
        df["work_type"][i] = 4

<ipython-input-24-f5f0e06de09f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["work_type"][i] = 0
<ipython-input-24-f5f0e06de09f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["work_type"][i] = 1
<ipython-input-24-f5f0e06de09f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["work_type"][i] = 2
<ipython-input-24-f5f0e06de09f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["work_type"][i] = 3
<ipython-input-24-f5f0e06de09f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["work_type"][i] = 4

In [25]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,1,0,1,228.69,36.6,1,1
1,Female,61.0,0,0,1,1,0,202.21,27.0,0,1
2,Male,80.0,0,1,1,0,0,105.92,32.5,0,1
3,Female,49.0,0,0,1,0,1,171.23,34.4,2,1
4,Female,79.0,1,0,1,1,0,174.12,24.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,1,0,1,83.75,27.0,0,0
5106,Female,81.0,0,0,1,1,1,125.20,40.0,0,0
5107,Female,35.0,0,0,1,1,0,82.99,30.6,0,0
5108,Male,51.0,0,0,1,0,0,166.29,25.6,1,0
5109,Female,44.0,0,0,1,2,1,85.28,26.2,Unknown,0

In [26]:
for i in range(5110):
    if df["smoking_status"][i] == "Unknown":
        df["smoking_status"][i] = 0

<ipython-input-26-170dc8087c4e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["smoking_status"][i] = 0

In [27]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,1,0,1,228.69,36.6,1,1
1,Female,61.0,0,0,1,1,0,202.21,27.0,0,1
2,Male,80.0,0,1,1,0,0,105.92,32.5,0,1
3,Female,49.0,0,0,1,0,1,171.23,34.4,2,1
4,Female,79.0,1,0,1,1,0,174.12,24.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,1,0,1,83.75,27.0,0,0
5106,Female,81.0,0,0,1,1,1,125.20,40.0,0,0
5107,Female,35.0,0,0,1,1,0,82.99,30.6,0,0
5108,Male,51.0,0,0,1,0,0,166.29,25.6,1,0
5109,Female,44.0,0,0,1,2,1,85.28,26.2,0,0

In [28]:
for i in range(5110):
    if df["gender"][i] == "Male":
        df["gender"][i] = 0
    elif df["gender"][i] == "Female":
        df["gender"][i] = 1
    elif df["gender"][i] == "Other":
        df["gender"][i] = 2

<ipython-input-28-319fee095d3c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["gender"][i] = 0
<ipython-input-28-319fee095d3c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["gender"][i] = 1
<ipython-input-28-319fee095d3c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["gender"][i] = 2

In [29]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,1,0,1,228.69,36.6,1,1
1,1,61.0,0,0,1,1,0,202.21,27.0,0,1
2,0,80.0,0,1,1,0,0,105.92,32.5,0,1
3,1,49.0,0,0,1,0,1,171.23,34.4,2,1
4,1,79.0,1,0,1,1,0,174.12,24.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,80.0,1,0,1,0,1,83.75,27.0,0,0
5106,1,81.0,0,0,1,1,1,125.20,40.0,0,0
5107,1,35.0,0,0,1,1,0,82.99,30.6,0,0
5108,0,51.0,0,0,1,0,0,166.29,25.6,1,0
5109,1,44.0,0,0,1,2,1,85.28,26.2,0,0

In [30]:
y = df["stroke"]

In [31]:
y = y.values

In [32]:
y

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [33]:
x = df.drop(columns = "stroke")

In [34]:
x = x.values

In [35]:
x

array([[0, 67.0, 0, ..., 228.69, 36.6, 1],
       [1, 61.0, 0, ..., 202.21, 27.0, 0],
       [0, 80.0, 0, ..., 105.92, 32.5, 0],
       ...,
       [1, 35.0, 0, ..., 82.99, 30.6, 0],
       [0, 51.0, 0, ..., 166.29, 25.6, 1],
       [1, 44.0, 0, ..., 85.28, 26.2, 0]], dtype=object)

In [36]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.2)

In [37]:
from sklearn.linear_model import LogisticRegression

In [38]:
model = LogisticRegression()

In [39]:
model.fit(x_train , y_train)

c:\python 39\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [40]:
score = model.score(x_test , y_test)
print("Logestic Model Score = " , score)

Logestic Model Score =  0.958904109589041

In [41]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB

In [42]:
kf = KFold(n_splits = 10)

In [43]:
Scores_Random = cross_val_score(RandomForestClassifier() , x , y)
Scores_Gaussian = cross_val_score(GaussianNB() , x , y)
Scores_svc = cross_val_score(SVC() , x , y)

In [44]:
Scores_Gaussian

array([0.86888454, 0.85714286, 0.85714286, 0.86497065, 0.88454012])

In [45]:
Scores_Random

array([0.95009785, 0.94911937, 0.9481409 , 0.94911937, 0.95009785])

In [46]:
Scores_svc

array([0.95107632, 0.95107632, 0.95107632, 0.95107632, 0.95205479])

# From KFold method method Random Forest seems to do better

In [48]:
model = SVC()

In [49]:
model.fit(x_train , y_train)

SVC()

In [50]:
model.score(x_test , y_test)

0.9608610567514677

In [51]:
y_pred = model.predict(x_test)

In [52]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [53]:
y_test

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [54]:
wrong = 0
for i in range(len(y_test)):
    if (y_pred[i] != y_test[i]):
        wrong += 1

wrong

40

In [55]:
len(y_test)

1022

In [56]:
len(y_pred)

1022

In [57]:
y_test

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [58]:
ans = model.predict([[1 , 8 , 1 , 1, 1, 1, 1, 228.9 , 36.5, 3]])

In [59]:
y_pred = model.predict(x_test)

In [60]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [61]:
y_test

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [62]:
c = 0
for i in range(len(y_test)):
    if (y_pred[i] == y_test[i]):
        c += 1

print("No of Correct prediction = " , c)

No of Correct prediction =  982

In [63]:
import pickle
model

SVC()

In [64]:
pickle.dump(model , open("model.pkl" , 'wb'))